.container{
  margin-top: 5%;
}

.custom-alert {
    background-color: transparent !important;
    font-size: 2rem  !important;
    border: none  !important;
    color: white  !important;
    text-align: center !important;
    margin-top: 10% !important;
  }
  
  /* Center the pagination container */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 5%; /* Optional: Add margin for spacing */
    margin-bottom: 5%; /* Optional: Add margin for spacing */
  }
  
  /* Style for the pagination component */
  .pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .pagination-container .pagination .page-link {
    background-color: transparent !important;
    border: 1px solid red !important;
    color: white !important;
  }
  
  .pagination-container .pagination .page-link:hover {
    background-color: rgba(255, 0, 0, 0.596) !important;
    color: white !important;
  }
  
  .pagination-container .pagination .active .page-link {
    background-color: red !important;
    color: white !important;
  }

  .sorting-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5%;
  }
  
  .sorting-filter label {
    margin: 0;
    font-weight: bold;
  }
  
  .genre-filter {
    display: flex; 
    align-items: center; 
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5%;
  }
  
  .genre-filter .btn {
    margin-bottom: 3px;
  }

  
/* Moviepage.css */
@media (max-width: 768px) {
  .moviepage .movie-card {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .moviepage .row {
    justify-content: center;
  }
  .genre-filter .btn {
    padding: 4px 8px;
    margin: 0;
  }

  .genre-filter .btn.me-3 {
      margin-right: 0 !important;
  }

  .genre-filter {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
  }
  .sorting-filter {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px; 
  }

  .sorting-filter label {
    display: none;
}

  .sorting-filter .custom-dropdown {
      width: 100%; 
      max-width: 300px; 
  }
}



